<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="app">

<head>

    <link rel="stylesheet" href="../css/component.css" />
    <link rel="stylesheet" href="../css/demo.css" />

</head>

<!-- define angular controller -->
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My AngularJS Page</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-shield"></i> HOME</a></li>
            <li><a href="#/login"><i class="fa fa-shield"></i> LOGOUT</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center" style="background-color: deepskyblue">
    <h1>Hi {{vm.user.firstName}}!</h1>
    <p>You're logged in!!</p>
    <h3>All registered users:</h3>
    <ul>
        <li ng-repeat="user in vm.allUsers">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
        </li>
    </ul>
</div>


</body>

</html>
