<div class="form-group">
  <label for="email" class="sr-only">Email</label>
  <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com">
</div>

<div class="form-group">
  <label for="key" class="sr-only">Password</label>
  <input type="password" name="key" id="key" class="form-control" placeholder="Password">
</div>

<div class="checkbox">
  <!--<span class="character-checkbox" onclick="showPassword()"></span>-->
  <span class="character-checkbox"></span>
  <span class="label">Show password</span>
</div>

<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">

<a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
