.btn-custom {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #1fa67b;
}

.forget {
  font-size: 13px;
  text-align: center;
  display: block;
}

.form-control {
  color: #212121;
}

.checkbox {
  margin-bottom: 20px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.checkbox.show:before {
  content: '\e013';
  color: #1fa67b;
  font-size: 17px;
  margin: 1px 0 0 3px;
  position: absolute;
  pointer-events: none;
  font-family: 'Glyphicons Halflings';
}

.checkbox .character-checkbox {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
  vertical-align: middle;
  display: inline-block;
}

.checkbox .label {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: normal;
}
