<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>AngularJS User Registration and Login Example</title>
    <link rel="stylesheet" href="../../../../lib/css/bootstrap.min.css" />
    <link href="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-content/app.css" rel="stylesheet" />
</head>
<body>

    <div class="col-sm-8 col-sm-offset-2">
        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
    </div>
    <div ng-view></div>

    <div class="credits text-center">
        <p>
            <a href="http://jasonwatmore.com/post/2015/03/10/AngularJS-User-Registration-and-Login-Example.aspx" target="_top">AngularJS User Registration and Login Example</a>
        </p>
        <p>
            <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
        </p>
    </div>

    <script src="../../../../lib/js/jquery-2.0.3.min.js"></script>
    <script src="../../../../lib/js/angular-1.5.8/angular.js"></script>
    <script src="../../../../lib/js/angular-1.5.8/angular-route.js"></script>
    <script src="../../../../lib/js/angular-1.5.8/angular-cookies.js"></script>

    <script src="../../../../lib/js/app/app.js"></script>
    <script src="services/authentication.service.js"></script>
    <script src="services/flash.service.js"></script>

    <!-- Real user service that uses an api -->
    <!-- <script src="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-services/user.service.js"></script> -->

    <!-- Fake user service for demo that uses local storage -->
    <script src="services/user.service.local-storage.js"></script>

    <script src="controllers/home.controller.js"></script>
    <script src="controllers/login.controller.js"></script>
    <script src="controllers/register.controller.js"></script>
</body>
</html>