<%--
  Created by IntelliJ IDEA.
  User: tariq
  Date: 11/13/2016
  Time: 3:18 PM
--%>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><g:layoutTitle default="Grails"/></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="${assetPath(src: 'favicon.ico')}" type="image/x-icon">
<link rel="apple-touch-icon" href="${assetPath(src: 'apple-touch-icon.png')}">
<link rel="apple-touch-icon" sizes="114x114" href="${assetPath(src: 'apple-touch-icon-retina.png')}">

<asset:stylesheet src="jstree/themes/default/style.min.css"/>
<asset:stylesheet src="bootstrap.min.css"/>
<g:render template="/layouts/styles"/>

<g:layoutHead/>