<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-wrap">
        <h1> {{title}} </h1>
        <app-show-message></app-show-message>
        <app-show-login-placeholder></app-show-login-placeholder>
      </div>
    </div>
  </div>
</div>
